In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('/content/train.csv')

In [3]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [ ]:
df.isna().sum() # check for null values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [4]:
d2= pd.DataFrame(df)

In [5]:
d2['Mileage'] = d2['Mileage'].str.extract('(\d+\.\d+)').astype(float)

d2['Engine'] = d2['Engine'].str.replace(' CC', '').astype(float)

d2['Power'] = d2['Power'].str.extract('(\d+\.\d+)').astype(float)

d2['New_Price'] = d2['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [6]:
d2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

In [7]:
d2['Mileage'].fillna(d2['Mileage'].median(),inplace=True) # Impute missing numerical values with median
d2['Engine'].fillna(d2['Engine'].median(),inplace=True)
d2['Power'].fillna(d2['Power'].median(),inplace=True)

d2['Seats'].fillna(d2['Seats'].mode()[0],inplace=True) # Impute missing categorical values with mode

In [8]:
d2.drop('New_Price', axis=1, inplace=True)#axis=1 indicates to drop a column

In [11]:
output_csv_file = 'preprocessed_data.csv'
d2.to_csv(output_csv_file, index=False)

In [12]:
d1=pd.read_csv("/content/preprocessed_data.csv")

In [ ]:
d1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [ ]:
#observing the unique values for some of our categorical variables as below: "Fuel_Type," "Transmission," and "Owner_Type."

In [ ]:
d1['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [ ]:
d1['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [ ]:
d1['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [13]:
d1['Fuel_Type'].replace({'Diesel': 0, 'Electric': 1, 'Petrol': 2 }, inplace=True)
d1['Transmission'].replace({'Automatic': 0, 'Manual': 1}, inplace=True)
d1['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [ ]:
d1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,1,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,2,1,1,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,1,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,0,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,1,1,23.08,1461.0,63.10,5.0,3.50

In [17]:
output_csv_file = 'encoded_data.csv' #encoded_data
d1.to_csv(output_csv_file, index=False)

In [ ]:
#We are adding a new column called "Age_at_Purchase" to our dataset, which will help us understand how old it is.

In [18]:
from datetime import datetime
# Assuming the current year is 2024
current_year = datetime.now().year

# Adding a new feature - Age of the car at the time of purchase
df['Age_at_Purchase'] = current_year - df['Year']

In [19]:
#Save the new column addition in separate csv file
output_csv_file = 'column_added.csv'
df.to_csv(output_csv_file, index=False)

In [20]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age_at_Purchase
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,8.61,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50,11

In [22]:
#Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset
selected_columns = df[['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Price']]

# Filtering data based on conditions
filtered_data = df[(df['Year'] >= 2015) & (df['Fuel_Type'] == 'Diesel')]

# Renaming columns
renamed_df = df.rename(columns={'Name': 'Model', 'Kilometers_Driven': 'Odometer', 'Seats': 'Number_of_Seats'})

# Mutating data (adding a new column)
renamed_df['Price_Per_Km'] = renamed_df['Price'] / renamed_df['Mileage'].astype(float)

# Arranging data (sorting)
sorted_data = renamed_df.sort_values(by='Year', ascending=False)

# Summarizing data with group by operations
summary_data = renamed_df.groupby('Model').agg({'Price': 'mean', 'Mileage': 'median'})

# Printing the results
print("\nSelected Columns:")
print(selected_columns.head())

print("\nFiltered Data:")
print(filtered_data.head())

print("\nRenamed DataFrame:")
print(renamed_df[['Model', 'Year', 'Mileage', 'Price', 'Price_Per_Km']].head())

print("\nSorted Data:")
print(sorted_data.head())

print("\nSummary Data:")
print(summary_data.head())

Selected Columns:
                               Name    Location  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

  Fuel_Type Transmission Owner_Type  Price
0    Diesel       Manual      First  12.50
1    Petrol       Manual      First   4.50
2    Diesel       Manual      First   6.00
3    Diesel    Automatic     Second  17.74
4    Diesel       Manual      First   3.50

Filtered Data:
    Unnamed: 0                               Name Location  Year  \
0            1   Hyundai Creta 1.6 CRDi SX Option     Pune  2015
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
10          12              Maruti Swift VDI BSIV   Jaipur  2015
14          16              Honda Amaze S i-Dtech    Kochi  2016
15          17              Maruti Swift DDiS VDI   Jaipur  2017

    Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0               41000    Diesel       Manual      First    19.67  1582.0
5               36000    Diesel    Automatic      First    11.36  2755.0
10              64424    Diesel       Manual      First    25.20  1248.0
14              58950    Diesel       Manual      First    25.80  1498.0
15              25000    Diesel       Manual      First    28.40  1248.0

    Power  Seats  New_Price  Price  Age_at_Purchase
0   126.2    5.0        NaN  12.50                9
5   171.5    8.0        NaN  17.50                8
10   88.8    5.0        NaN   5.60                9
14   98.6    5.0        NaN   5.40                8
15   88.8    5.0        NaN   5.99                7

Renamed DataFrame:
                              Model  Year  Mileage  Price  Price_Per_Km
0  Hyundai Creta 1.6 CRDi SX Option  2015    19.67  12.50      0.635486
1                      Honda Jazz V  2011    18.19   4.50      0.247389
2                 Maruti Ertiga VDI  2012    20.77   6.00      0.288878
3   Audi A4 New 2.0 TDI Multitronic  2013    15.20  17.74      1.167105
4            Nissan Micra Diesel XV  2013    23.08   3.50      0.151646

Sorted Data:
      Unnamed: 0                            Model    Location  Year  Odometer  \
5405        5560        Renault KWID RXT Optional       Kochi  2019      6568
942          975  Ford Endeavour 2.2 Trend AT 4X2       Kochi  2019     11209
5533        5690        Maruti Omni 5 Seater BSIV  Coimbatore  2019      4721
770          796            Mahindra XUV500 W9 AT  Coimbatore  2019     19654
4267        4399       Maruti Swift Dzire AMT ZDI     Chennai  2019     65000

     Fuel_Type Transmission Owner_Type  Mileage  Engine  Power  \
5405    Petrol       Manual      First    25.17   799.0   53.3
942     Diesel    Automatic      First    12.62  2198.0   88.8
5533    Petrol       Manual      First    14.00   796.0   88.8
770     Diesel    Automatic      First    14.00  2179.0   88.8
4267    Diesel    Automatic      First    26.59  1248.0   88.8

      Number_of_Seats  New_Price  Price  Age_at_Purchase  Price_Per_Km
5405              5.0       4.78   5.09                5      0.202225
942               7.0        NaN  31.15                5      2.468304
5533              5.0        NaN   4.11                5      0.293571
770               7.0      21.33  17.63                5      1.259286
4267              5.0        NaN   6.75                5      0.253855

Summary Data:
                                Price  Mileage
Model
Ambassador Classic Nova Diesel   1.35    12.80
Audi A3 35 TDI Attraction       16.50    20.38
Audi A3 35 TDI Premium          19.25    20.38
Audi A3 35 TDI Premium Plus     18.90    20.38
Audi A3 35 TDI Technology       22.50    20.38